<h2><%= @patient.name %></h2>
<% @patient.appointments.each do |app| %>
Doctor: <p><%= link_to app.doctor.name, doctor_path(app.doctor) %></p>
Appt: <%= app.appointment_datetime.strftime("%B %e, %Y at %H:%M") %>
<% end %>